## General
# Visual Studio Code files
.vscode

# build
build

# install
install

# data
data

# models
models

*.caffemodel
*.prototxt
*.jpg
*.engine
*.pyx
 
 # personal
 backup_old_discard
 __pycache__
*.mp4
/#main_infer.cpp#
*.avi
/__pycache__/boundbox.cpython-36.pyc
